[2015-07-23 17:17] philoushka opened #2 "Forking and running results in 404 on main.css"
The `main.css` reference in `index.html` is 404.

I forked, changed personal details in `_config.yml`, and checked the look at
https://philoushka.github.io/resume-template

What did I do wrong, and how can I solve this problem?

I'm only reporting here as an issue to help smooth the process for other forkers.

[2015-07-23 17:57] jglovier commented on #2
Hah - good catch. This is because the css link path in the head is written with the intent of a site-root relative URL. Will push a fix to accommodate hosting the project as a subdirectory in a moment.

You'll simply want to remove the first slash in `head.html` in the href value on line 15 in your fork.

[2015-07-23 18:02] philoushka commented on #2
Thanks @jglovier !

![](http://www.reactiongifs.com/wp-content/uploads/2013/06/happy-prancing.gif)

[2015-07-23 18:03] jglovier commented on #2
Closed via https://github.com/jglovier/resume-template/commit/099a503210f73851ee2d9aa234c888f1ee973885

[2015-07-23 18:03] #2 closed, assigned to nobody

[2016-04-21 16:32] 0xbs0d opened #11 "getting 404 github pages after forking the repo"
Not sure if I have to configure or add the url after just forking the repo. It works fine offline but on gh pages it displays a 404.

[2016-04-21 16:57] jglovier commented on #11
Did you edit the CNAME file (if you are using a custom domain), or remove it (if you are not using a custom domain)?

If you drop a link to your fork I'd be happy to take a look.

[2016-04-21 16:58] jglovier commented on #11
Nevermind, I found your fork. Just delete the CNAME file and you should be good.

[2016-04-21 16:59] jglovier commented on #11
Also you'll probably want to rename your fork's description and repo link to your URL.

[2016-04-21 17:17] 0xbs0d commented on #11
hm... still nothing. deleted the CNAME (silly me) and changed my links in the _config.yml and the description but nothing happened. that should have triggered a rebuild of jekyll afaik.

[2016-04-21 17:52] jglovier commented on #11
Well CNAME stuff will take some time to propagate through our DNS servers and CDN, so maybe try again in an hour and lemme know if it's still not working.

[2016-04-21 17:55] jglovier commented on #11
Just looked at your repo again. You need to move the code to master. You only use a `gh-pages` branch if your are on a repo that is not named after a user page (i.e. `my-project` uses a `gh-pages` branch, but `username.github.io` uses `master` branch). [Docs on that here](https://help.github.com/articles/user-organization-and-project-pages/).

[2016-04-21 22:28] 0xbs0d commented on #11
brilliant! it worked. thank you so much :)

[2016-04-21 22:28] #11 closed, assigned to nobody

[2016-04-22 11:57] jglovier commented on #11
![shaggy-guy-thumbsup](https://cloud.githubusercontent.com/assets/1319791/14740848/ec9653d4-085f-11e6-9333-50805cc80395.gif)

[2016-04-24 14:00] ghost opened #12 "Missing favicon.png"
The favicon.png is missing

[2016-04-24 15:45] ghost opened #13 "Resume Title incorrect spacing in IE11"
`<h2 class="header-title">{{ site.resume_title }}</h2>` doesn't display properly in IE11. See http://resume-template.joelglovier.com/ in IE 11

[2016-04-25 23:22] jglovier commented on #12
I left it out because I thought folks may want to customize it for their use, and I couldn't quite think of a universally appropriate favicon for everyone. Any suggestions for something universal? Or do you think I should just remove it entirely from the code (i.e. the header meta)?

[2016-05-01 13:01] ghost commented on #12
Oh, thought it was an oversight since I saw it in code, but not when served. I think either remove from code or add a dummy favicon (that users can change). I personally prefer the latter. Great template btw!

[2016-05-02 17:41] jglovier commented on #12
@vibinjk25 yeah, agreed. I'll push a fix shortly. Thanks for pointing it out!! :bow:

[2016-05-02 17:53] #12 closed, assigned to nobody

[2016-09-25 06:31] amirj opened #17 "Add pdf export button"
Thank you for this great project. its very useful.
I think the most important and useful feature is pdf export. It's very difficult to sync pdf version with the web-based resume. Do you have any plan to add this feature?

[2016-09-27 16:14] jglovier commented on #17
Unfortunately, not at this time. But pull requests welcome! :grin:

[2016-10-06 23:59] danb235 opened #18 "Error on bundle install"
I am running MacOS 10.12.  Unfortunately when running `bundle install` I got the following error:

[code]

[2016-10-07 16:22] jglovier commented on #18
@tkdan235 do you have command line tools installed via Xcode?

[2016-10-07 17:13] danb235 commented on #18
Yup, command line tools are installed.

[code]

Here is my version of ruby if that helps at all: `ruby 2.2.3p173 (2015-08-18 revision 51636) [x86_64-darwin15]`

[2016-10-15 02:12] idontknowanyoneonhere opened #20 "Changing fonts"
I can't seem to find how to change the fonts for each section. I've found the `font-family` property in `_mixins.scss`  but changing that, changes the font for the whole page, how do i set a different font for only the headings.

Also, when I first forked the repo, i was getting an error on google chrome about a font not serving through https, there's also this `` in the final html that is served

[2016-10-15 02:14] jibreil commented on #20
I font the Google font settings in `\_includes\head.html` but I

[2016-10-16 09:56] idontknowanyoneonhere commented on #20
I figured it out, fonts for headings are on line 54 of `_sass\_mixins.scss` and the font for the rest of the text is on line 78. The _Google Font Typography_ business in `_includes\head.html` is just where you put the code to retrieve the fonts through the Google API. You can see the available fonts [here](https://fonts.google.com/) and it gives you the code, `<link *something* >` goes in `_includ

[2016-10-16 09:56] #20 closed, assigned to nobody

[2016-10-19 15:02] jglovier commented on #20
@jibreil glad you got everything sorted out. Sorry for the delayed response. :grin:

[2016-10-21 07:24] amirj opened #21 "How to add Google Scholar icon link?"
In [this section](https://github.com/jglovier/resume-template/blob/gh-pages/_config.yml#L36-L43), it is possible to add icon links. It's great. But unfortunately, Google Scholar link is not available. Its really important for an academic portfolio. How can I add this link?

[2016-10-21 18:02] jglovier commented on #21
@amirj you can just add it there as a config setting in your own fork, and then you can use it as a global variable in your markup in any file. Something like this:

In `_config.yml` you would add:

[code]

And then in `_includes/icon-links.html` you would add this:

[code]

[2016-10-21 18:02] #21 closed, assigned to nobody

[2016-10-22 05:17] amirj commented on #21
Thank you for your helpful answer.
I just interested to know if anybody have a stylish google scholar svg icon?
Something that is compatible to the set of icons in this project.

[2016-10-22 05:23] idontknowanyoneonhere commented on #21
Hi, what's the process for adding custom links and icons? Is it the same as what @jglovier posted earlier?

[2016-10-23 18:58] jglovier commented on #21
@amirj I would just suggest using the generic website icon as noted above. I've never seen a social icon for Google Scholar before.

[2016-10-23 18:58] jglovier commented on #21
@jibreil yes, please follow the instructions in my comment above.

[2017-02-01 21:27] jglovier commented on #17
There is no simply way to export as a PDF, but @bryanculver added print styles in #22 so it's now possible to get a PDF by printing the rendered resume and choosing the "save to PDF" option available with many browser print dialogs.

[2017-02-01 21:27] #17 closed, assigned to nobody

[2017-02-01 21:29] jglovier commented on #18
Close as this appears to be an issue with your system setup, and not the actual codebase. Sorry I cannot be of further assistance in resolving. Maybe try [StackOverflow](http://stackoverflow.com/) for further troubleshooting your local environment?

[2017-02-01 21:29] #18 closed, assigned to nobody

[2017-02-01 21:35] jglovier commented on #13
Ugh...gross. For reference, here's a screenshot:

![image](https://cloud.githubusercontent.com/assets/1319791/22527214/4d1abf7a-e89c-11e6-9dde-76dbf0f2a0fa.png)

I'm tempted to just label as `wontfix` because I'm not supporting IE with this project, but this is probably important to address for cases where the title is longer than expected anyway.

Thanks for reporting. 🙇

[2017-03-29 07:10] viper25 commented on #13
Yes agree, IE ins't that important. Just reporting as an FYI only.

[2017-03-29 15:38] jglovier opened #26 "Template ideas - design exploration"
I'd love to add some alternative template styles. Here's some quick layout sketches. Thinking each theme should have a few different color palette options as well.

![image](https://cloud.githubusercontent.com/assets/1319791/24463174/0a9479bc-1474-11e7-8866-ad0590412b37.png)

![image](https://cloud.githubusercontent.com/assets/1319791/24463192/12b2d8be-1474-11e7-80b8-027ba649f248.png)

![image](ht

[2017-04-19 15:19] colbisaurusrex opened #27 "Bundler Fails due to Eror with ffi package"
Not sure what exactly is going on. I don't work with gem or Ruby much. Maybe it's an error on my end.

![screen shot 2017-04-19 at 11 18 07 am](https://cloud.githubusercontent.com/assets/18058808/25187735/eb89117a-24f1-11e7-8e70-6e623d2317f0.png)

![screen shot 2017-04-19 at 11 18 39 am](https://cloud.githubusercontent.com/assets/18058808/25187755/f9fd389e-24f1-11e7-9403-3870d2e6980f.png)

[2017-04-20 20:03] jglovier commented on #27
Hmm, I'm not familiar with this error. What do you get when you try running `gem install ffi -v '1.9.17'` directly?

[2017-05-13 15:40] andreidbr opened #28 "Education summary doesn't have clear: both, results in spacing issue"
The <p> tag for the Education section's summary doesn't have `style="clear: both;"` like other sections.
As a result, the summary is displayed incorrectly.
Screenshot attached:
![resume_issue](https://cloud.githubusercontent.com/assets/12015956/26026833/9266a918-380b-11e7-9ce5-004df4f1b53c.PNG)

[2017-05-16 16:23] jglovier commented on #28
@andreidbr thanks for reporting this! :bow:

[2017-06-01 15:09] heldeep opened #30 "Where is your copyright at 2016?"
I wrote my copyright (at 2017) in my fork, lol

[2017-06-03 09:00] DudeWhoCode opened #31 "Could not find i18n-0.8.0"
When I clone the theme and run `jekyll build` or `jekyll serve` It throws following error, But it never happens for other themes.

[code]

[2017-06-05 20:01] antgel commented on #28
This is in the `<h5>` tag if I understand correctly, where `{{education.awards}}` goes. Will you be patching this one-liner, or shall I send a PR? :D

[2017-06-05 20:51] antgel opened #32 ""Outside Interests" section"
I think there should be somewhere to add this - it could render as a simple list of bullets. e.g.
* Astronaut
* Pastry chef
* Heavy metal drummer

Alternatively, it could be a "Miscellaneous" section, but I think that's less structured.

WDYT?

[2017-06-08 07:28] jglovier commented on #30
I'm not sure the copyright really serves a purpose for a personal resume like this. The goal of a resume is that you want people to have it, share it, etc. Copyright's are for content that you don't want duplicated anywhere else legally. So I think it's a matter of preference, which makes in your fork perfect, if you feel it improves you version! :zap: 😁

[2017-06-08 07:28] #30 closed, assigned to nobody

[2017-06-08 17:13] jglovier commented on #32
Hey @antgel thanks for opening this up! I know a lot of people do put outside interests on their resume, but for most resumes I don't think it's very appropriate or professional. Granted, it depends on the person, the role, and the industry, so sometimes it's appropriate, but not universally. I'd like to keep this repo focused pretty tightly on the stuff that is universally appropriate for a resum

[2017-06-08 17:13] #32 closed, assigned to nobody

[2017-06-08 17:45] antgel commented on #32
Hi. It's your project of course, but I'm a little disappointed given that:

1. The flag is there to include it or not.
2. It's very subjective, personally I think it's good to get a taste of the person, not just the worker.
3. One could easily say the same about the image at the top.

[2017-06-08 17:59] #28 closed, assigned to nobody

[2017-06-10 15:46] antgel commented on #32
Adding to the list:
4. Facebook and Instagram links. Arguably universally *inappropriate* for a resume.

[2017-06-11 04:30] ghost opened #35 "Association resume-item-title tags"
The resume-item-title tags for association aren't working because `{{ association.organisation }}` wasn't changed to `{{ association.organization }}`

[2017-06-13 15:52] jglovier commented on #32
@antgel I'm sorry, maybe I'm misunderstanding what you are proposing. What are you referring to with a flag that is there to include it? You mean that's how it would work, or are you referring to something already in the project now?

[2017-06-13 15:53] jglovier commented on #32
Nm, I see you are referring to your PR and the config option...let's continue this discussion over in the PR. :sparkles:

[2017-06-15 10:34] #35 closed, assigned to nobody

[2017-06-17 07:41] artemsheludko opened #36 "Your theme is listed in jekyllthemes.ru"
Your theme has been listed on http://jekyllthemes.ru/

[2017-06-17 07:41] #36 closed, assigned to nobody

[2017-06-17 18:14] jglovier commented on #36
Neat! Thanks!! :clap: :heart:

[2017-08-08 20:08] giovannipds commented on #26
I think I can help to make these front-end codes. =)

[2017-08-08 20:52] giovannipds opened #39 "Update github-pages"
Hello. Trying to `bundle` the project today, got an error with `nokogiri 1.7.2`, `nokogiri requires Ruby version < 2.4, >= 2.1.0.` - mine was `2.4.1+`. Looking [here](https://github.com/sparklemotion/nokogiri/issues/1618) I saw that `nokogiri` has already a version supporting my Ruby's version (`1.8.0`), and I fixed it by updating the `bundle` `github-pages`, as mentioned [here](https://github.com

[2017-08-08 21:10] giovannipds opened #40 "Add browserSync or webpack"
Hello. I'm not used to Jekyll but as far as I'm testing this project, having to up and down the server just to see the changes is weird. I've searched a little about Jekyll + BrowserSync and it seems that people are using them together with Gulp. I think it'll be good to development side that we implement these guys (or webpack). I know some recent projects implement webpack but I think Gulp is st

[2017-08-08 21:20] giovannipds commented on #40
Searching a little more about it, I saw this as requested on the original Jekyll project. Someone has implemented a plugin for it, using LiveReload: https://github.com/awood/hawkins

[2017-08-11 20:46] jglovier commented on #26
@giovannipds awesome! I'll pick one or two and flesh out the design mocks in more high fidelity so you can start building then.

[2017-08-12 13:53] giovannipds commented on #26
@jglovier ok! If you don't want to or if you don't enough have time to build a higher fidelity layout, feel free to just point out some UI advices (like fonts, font-sizes, etc.) - or maybe just a style guide.

Let me know when you think I can already work on that. Cheers!

[2017-08-12 19:01] jglovier commented on #40
Hi @giovannipds! Thanks for bringing this up.

Do you mean specifically you are having to switch back to CLI and restart the server to view your changes?

The `jekyll serve` command (I run it as `bundle exec jekyll serve` in this project) automatically regenerates the build as you save files, so all you need to do is refresh the browser to view your changes. Is that what you are experiencing, or i

[2017-08-12 19:09] #39 closed, assigned to nobody

[2017-08-12 19:10] jglovier commented on #39
Thanks for pointing this out! Fix pushed. :zap:

[2017-08-12 19:11] jglovier commented on #31
@DudeWhoCode sorry for the delayed response!

I'm unable to reproduce this. Can you pull the latest from `gh-pages` branch and try again? I just pushed an update to the gemfile which may address the problem for you.

[2017-08-12 19:12] jglovier commented on #27
Closing as stale. If you still have issues, try pulling the latest from the `gh-pages` branch and see if it resolves your issue. If the problem persists further, feel free to reopen this issue.

:v:

[2017-08-12 19:12] #27 closed, assigned to nobody

[2017-11-14 18:55] abiduzz420 opened #47 "Resume_header_intro not shown in print preview"
The intro section at the beginning of the resume is not shown in print preview. I tried to save in PDF format and the Intro was omitted. The resume starts off directly with the Experience after my name.

[2017-11-15 23:47] jglovier commented on #47
@abiduzz420 thanks for the heads up. I'll look into it.

[2017-11-17 10:32] giovannipds commented on #26
@jglovier any update on this?

[2017-11-17 10:36] giovannipds commented on #40
@jglovier sorry for answering this so late, now I'm not much sure about what you've asked but, I remember that I was needing to close and open the server everytime to see the changes (it may be something that was happen only to me).

But YES! I don't like to refresh browsers to see changes. That's what I'm bringing up here.

[2017-12-01 15:12] edm00se commented on #40
@giovannipds I would like to recommend an alternative solution. There are obvious pluses and minuses to including a dev server into a project, especially something like a jekyll template. To meet your needs, an option would be to globally install browser-sync (or dev server with live-reload of your preference), then have it watch the generated content of your jekyll `_site/` dir (the built static

[2017-12-01 16:18] jglovier commented on #40
I'm going to go ahead and close this because there are no actionable changes to the project to result.

[2017-12-01 16:18] #40 closed, assigned to nobody

[2017-12-01 16:25] jglovier commented on #26
@giovannipds unfortunately, I haven't had a chance to work on it any further, and likely won't in the immediate future.

[2017-12-01 17:13] equero commented on #26
I think we should focus on create different kind of resumes based on work, like programming resumes or private security template work

[2018-01-26 11:59] allanwsilva opened #52 "Error when running bundle install on a fresh repo clone"
I'm a not ruby guy... can you please help with that?

[code]

Environment settings:

[code]

[2018-02-06 20:48] jglovier commented on #52
@allanwsilva hmm, I'm not familiar with this error. Do you get this when you run `bundle install`?

[2018-02-06 20:49] jglovier commented on #52
Seeing that you're on Ubuntu, I wonder if it's an issue with compatibility of one of the gems or environment settings with Ubuntu?

[2018-02-10 15:55] sir-marv opened #53 "nokogiri gem entry"
The nokogiri dependency defined in Gemfile.lock has a known critical severity security vulnerability in version range < 1.8.1 and should be updated.   Receiving this error from github pages.

[2018-02-12 18:26] boldandbusted opened #56 "Question: How can I easily integrate StackExchange "Flair"?"
StackExchange offers "flair" to use on one's own websites. SE gives you HTML to insert in your site like the following:

[code]

What's a decent, maintainable method for including such a nice thing within this excellent resume template? :D And, a bonus would be to NOT show it if for some reason the URI becomes invalid.  Thanks in advance.

[2018-02-12 19:09] jglovier commented on #53
Resolved in #54.

[2018-02-12 19:09] #53 closed, assigned to nobody

[2018-02-12 20:13] Minimalistic commented on #56
I haven't any experience on the matter, but perhaps [se-flair](https://stackapps.com/questions/2119/se-flair-html-combined-stack-exchange-site-flair) could be tapped into for what you're looking to do?

[2018-02-12 20:24] Minimalistic commented on #47
@abiduzz420 I could be mistaken, and @jglovier would certainly be the all-knower of all this, but I think that's default by design - or at least you could modify your specific resume's html to show it during a print event.  The class `no-print` is assigned to all elements that are to be omitted during a print - when you say "Intro" I am suspecting you're referring to the Executive Summary, if you

[2018-02-13 04:52] abiduzz420 commented on #47
Thanks @Minimalistic That was helpful. `no-print` it is.

[2018-02-13 18:21] jglovier commented on #47
Yeah, that was added in #22, but I'm certainly open to PRs to modify the current behavior. 👍

[2018-02-13 18:26] jglovier commented on #56
This resume template wasn't designed to support embedded content, but you could certainly add it to your own fork by simply putting the markup wherever you'd like it to appear.

[2018-02-13 18:26] #56 closed, assigned to nobody

[2018-02-28 17:30] ghost opened #57 "Hugo"
Is this template available in hugo as well?

[2018-03-08 21:16] jglovier commented on #57
No, not at this time. This project is specifically scoped to Jekyll, which is supported by GitHub Pages by default.

[2018-03-08 21:16] #57 closed, assigned to nobody

[2018-04-11 12:10] grace-snow commented on #13
@jglovier I think you can close off this issue? I can't replicate in emulation mode on older versions of IE.

From IE 8 and older the whole layout breaks a bit anyway, but I wouldn't put any effort into supporting such old browsers now (especially when Microsoft stopped supporting them a while ago!)

[2018-04-20 21:11] norm-l commented on #52
Hello, I received the same error on Ubuntu. You need to install some system libraries for `nokogiri` to work.

Run:
`sudo apt-get install build-essential patch ruby-dev zlib1g-dev liblzma-dev`

After you've run that try again and it should work perfectly! I got these instructions from their [website](http://www.nokogiri.org/tutorials/installing_nokogiri.html). It may be worthwhile to add this to t

[2018-04-30 15:36] eostb opened #59 "good maerning"
yes
you can

[2018-04-30 15:49] #59 closed, assigned to nobody

[2018-04-30 16:14] jglovier commented on #13
@grace-snow good call. 👍 Thanks for the bump on this one!! 🙇

[2018-04-30 16:14] #13 closed, assigned to nobody

[2018-05-14 17:13] frankiezeager opened #62 "resume header contact info?"
My resume header contact info (phone number, address, etc) doesn't show up in the resume after assigning it in _config.yml, and it also doesn't appear to be in the template example either. Any way to get it to display?

[2018-05-14 17:24] jglovier commented on #62
@frankiezeager you're right! Good catch.

It was added in #42 to improve schema data, but never actually put into the template as rendered output anywhere. 🙈

I'll open a PR to resolve that.

[2018-05-15 17:58] jglovier commented on #62
@frankiezeager so I just realized you can accomplish what you're after by removing the `print-only` class from the `header-contact-info` element in [`_layouts/resume.html`](https://github.com/jglovier/resume-template/blob/gh-pages/_layouts/resume.html#L23).

However, I've also opened #63 to make this a bit simpler so with that update you'd be able to simply change the `display_header_contact_info`

[2018-05-15 18:09] #62 closed, assigned to nobody

[2018-05-15 18:13] #47 closed, assigned to nobody

[2018-05-15 18:14] #31 closed, assigned to nobody

[2018-08-17 10:57] mjclemente opened #65 "Add icon for blog"
Thanks so much for this template; it's fantastic.

Right now, while there's an icon for "website", there's not one specifically for "blog". In some cases these might be the same, but not always - or, someone might prefer to specifically indicate that it's their blog. The classic RSS broadcast icon might be a good fit for this.

For what it's worth, I tried my hand at creating one, but it was my fi

[2018-08-26 00:38] viper25 opened #66 "Error on bundle install on New Ubuntu system"
ON a fresh new Ubuntu system:

[code]
I did a clone of your repo and ran `bundle install`. I get this:

[code]

[2018-09-12 18:36] jglovier commented on #65
@mjclemente thanks for opening this issue! I can def see the use case for linking to both blog and website, but the vast majority of the time most folks keep their blog writing on their website so I'm not inclined to add one here simply because of the principle that "everything added dilutes everything else".

Just to address this point specifically, an RSS icon would be confusing to viewers as it

[2018-09-12 18:36] #65 closed, assigned to nobody

[2018-09-12 18:38] mjclemente commented on #65
Thanks for considering. 👍

[2018-12-02 00:13] viper25 commented on #66
me too. On a new Ubuntu system, I get this:

[code]

[2019-01-02 18:15] NikhilPeri opened #73 "Browser Caching"
You should add this to the [head.html](https://github.com/jglovier/resume-template/blob/gh-pages/_includes/head.html) include in order to disable browser caching ... I ran into this issue when pushing to `gh-pages` on my fork, chrome was still caching the old version of the page.

[code]
[More Backgorund on cache-control headers](https://www.metatags.org/meta_http_equiv_cache_control)

[here](http

[2019-01-17 16:17] eostb commented on #73
ok

[2019-01-27 17:53] antgel commented on #66
Did you search the web for a solution? How about https://stackoverflow.com/questions/48873852/cannot-install-jekyll-on-ubuntu-17-10?

[2019-02-03 12:51] viper25 commented on #52
I too tried to setup Jekyll on a fresh Ubuntu system. Installed all the below packages

[code]

then did

[code]
No issues till the above. I then clone your repo and follow instructions and I get this:

[code]

Tried this many times on NEW Ubuntu installation (Live CD though)

[code]

[2019-03-03 23:26] HerrickSpencer commented on #52
[Windows 10, but same errors]
In my case, it was due to having the wrong version of bundler installed (>2.0) so (after consulting forums) figured out that installing the older version will work with this repo:
gem install bundler -v 1.16.1
This fixed it for me.

[2019-03-29 20:42] anoopskapoor95148 opened #77 "_data/experience.yml is change is not updated at git weblink"
_data/experience.yml is change but is not updated at git weblink, can u please advice, am i missing any step

[2019-04-08 05:13] viper25 commented on #52
I tried with 1.16.1 too, but get errors (this is on a VM):

[code]

[2019-05-05 14:08] Aveek-Saha opened #80 "Website doesn't load"
The link for the demo, http://resume-template.joelglovier.com/ appears to be broken

[2019-09-17 03:02] rmojgani commented on #21
The google scholar SVG file if someone is still interested, also I can commit the other changes necessary

 ` <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve" width="28">
<path id="Gscholar" fill="#D1CECC" d="M 14 0 A 14 14 0 0 0 0 14 A 14 14 0 0 0 14 28 A 14

[2020-01-29 13:04] Chest1 opened #85 "update resume link"

[2020-01-29 13:06] #85 closed

[2020-01-29 13:08] Chest1 opened #86 "broken weblink"
Update weblink git

[2020-01-29 13:08] #86 closed

[2020-05-18 12:35] rs9899 opened #89 "Unable to access the website"
http://resume-template.joelglovier.com
`This site can’t be reached`
`resume-template.joelglovier.com’s`
`server IP address could not be found.`
`DNS_PROBE_FINISHED_NXDOMAIN`

[2020-05-18 17:41] jglovier commented on #89
@rs9899 thanks for the heads up! 🙇

[2020-05-18 17:55] jglovier commented on #89
Fixed! ✨

[2020-05-18 17:55] #89 closed, assigned to nobody

[2020-05-18 17:56] jglovier commented on #80
Sorry for the very long delay...and thanks for reporting. It's not fixed. 🙇

[2020-05-18 17:56] #80 closed, assigned to nobody

[2020-05-27 20:36] rs9899 commented on #89
Thanks

[2020-07-10 16:18] julianatfg opened #93 "More social media links"
This is not an issue properly, just a question: is there any way to add more social media links to the top menu? I currently have only Github, Twitter and Instagram enabled but I'd like to add like Telegram and WhatsApp, for instance.

I'm kind of a newbie, still learning &c. and I saw that there's no SVG icon for them and I have no idea where to get more.

Btw my forked project is [here](https://

[2020-07-14 00:23] jglovier commented on #93
Hi @julianatfg! I'm really happy to hear you've found this project useful, and your site looks great. I hope it serves your purposes well.

You can, but it's a pretty manual process right now. You'd have to find the icons for the services you've mentioned and add them to the code.

I'd be happy to do that, but I don't have much free time to devote to this project right now so I'm not sure how quic

[2020-07-14 15:14] julianatfg commented on #93
@jglovier Thank you for the reply! I could try adding them and then, if successful, I could do a pull request so it can be merged with the master branch! I've never done it (like I said, GitHub newbie) so I'd be happy to help with the development somehow. I just don't know where to get more of those vector icons. I've found others but they're not in the same style.

[2020-07-20 15:15] julianatfg commented on #93
@jglovier I managed to find more icons! The changes aren't live yet; I've published to another branch as I'm not sure about them yet (and I think that title area is too crowded rn).

But anyway, if I open a pull request to your code, I saw that ALL my modifications are gonna come aboard, I can't choose just the specific files and folders to include in that pull request. Or I'm doing something wron

[2020-07-20 15:34] julianatfg commented on #93
[My commit to default branch](https://github.com/julianatfg/resume/commit/3c7e6522f12c00e4a400004ad6972650884c6aa1) @jglovier

[2020-08-20 17:04] jglovier commented on #93
@julianatfg :wave: hi! I'm sorry for the long radio silence here (I was out of town for a couple weeks, and since returning have not had a chance to review this). Will review and respond soon, just wanted to let you know it's still on my radar. :blush: Thank you for your patience!

[2020-08-20 17:53] julianatfg commented on #93
Hi! No problem at all! Whenever you have some free time. Glad to be of some help!

[2020-12-27 05:14] rmojgani commented on #66
fixed mine with
[code]

[2021-01-17 21:29] rohatgisanat opened #98 "Make resume-template remote-theme compatible."
Loved the template!

However when I try to use the template using the code below in my GitHub Pages.

`remote_theme: jglovier/resume-template@gh-pages`

The css does not load and the page is not rendered correctly.

Any case this functionality can be included?

[2021-01-27 20:49] jglovier commented on #98
Hi @rohatgisanat! Thanks for reporting this. I haven't worked on this project in a really long time, and I'm not familiar with `remote_theme:`. When I get some time to give more attention to it, I'll look into `remote_theme` and see what it takes to support it.

Thanks for suggesting. 😄 :bow:

[2021-03-19 22:16] bjornamr opened #102 "Automatic generation of PDF"
Hi

So the basic Idea I have in my fork of your code is that every time I update my resume, the PDF I have linked on my fork is updated.

I have added two things to the fork to make that happen:
- A github action that renders and commits a PDF every time a change is done on the repo.
- A PDF link similar to webpage link in config.yml and updated _includes/icon-links.html

You can take a look at my

[2021-03-20 00:47] jglovier commented on #102
@bjornamr wow, this is really cool!!

How much control do you have over the typography? I wonder if we can use some custom CSS to style the output for the PDF a little more page friendly?

[2021-03-21 14:05] bjornamr commented on #102
Inserting action.yml file for reference: [Action.yml](https://github.com/bjornamr/resume-template/blob/gh-pages/.github/workflows/action.yml)

I am a bit unsure of how much control we have and I am no expert at styling or CSS. I see that puppeteer is what is used behind one of the steps called SetiZ/web_to_pdf_action.

It seems to be based of this repo: https://github.com/fifsky/html-to-pdf-action

[2021-03-31 21:24] bjornamr commented on #102
I have an Idea @jglovier after looking into this a little. From what I understand, to be able to control the PDF, you would have to write special css / sass for printing.

This would make it possible to have full control and give you the ability to control fonts, placement etc.

[2021-04-01 00:19] jglovier commented on #102
Oh nice! Yeah I can def make a custom stylesheet for the print layout.

Not sure when I'll have some free time to work on it, but it's on my radar now. 👍

[2021-04-21 16:21] sawungrana commented on #102
Hello gentlemen, you don't know how helpful you both are. Thank you very much!

[2021-05-14 14:01] bjornamr commented on #102
Just wanted to add that I figured out a bug in the action, so I updated it in the fork.

[2021-05-15 20:29] jglovier commented on #102
Awesome! Thanks for the update, and for your patience. :bow: Still on my radar.

[2021-07-27 17:39] alterstep commented on #102
It is going to be added to the upstream project?

[2021-08-03 11:34] bjornamr commented on #102
@jglovier If you could give me some pointers or just some help to start up, I am sure I can help doing some of it.
I am not so well versed on front-end development.

[2021-09-20 08:56] MichalMaler opened #112 "Ruby 3.0 - Unsupported ( installed with Fedora 34)"
Hello!

Fedora 34 now ships with Ruby 3.0 by default, which might be great news for Ruby developers. However, for those who might still be relying on older version of Ruby to run their stuff (eg: me)

Please, could this lovely template bein updated to work with Ruby 3.0?

Durring the installation of  `budle`, an error message occurs:

[code]

[2021-09-20 18:52] jglovier commented on #112
Thanks for reporting @MichalMaler! :bow:

I'm not really very familiar with Fedora or supporting older versions of ruby, but I'll be glad to look into this when I have some time for it. I'm not sure when that will be, so in the meantime if you discover a fix could you open a pull request?

Or even if you have any tips on what it will take to resolve, that would give me a big head start and help me

[2021-09-20 20:55] MichalMaler commented on #112
Hello Joel! Well ,the problem was that during the first installation step,
some gems for Ruby coulndt been installed. The problem was that they needed
Ruby version 2.2 (but as I know from my friend, it also work with ruby 2.7).
Fedora 34, has Ruby 3.0 by default, so anybody who has a system newer than
Fedora 33 will have this problem. The backport compatibility with the older
versions of Ruby is t

[2021-09-20 20:57] MichalMaler commented on #112
Here is the screenshot:
[image: image.png]

On Mon, Sep 20, 2021 at 8:52 PM Joel Glovier ***@***.***>
wrote:

--
With kind regards,
Michal Maléř

[2021-10-06 03:12] ghost opened #115 "Account manager"

[2021-10-17 22:04] readycode15 commented on #102
fff

[2021-11-14 20:16] ickfosec commented on #112
I encountered the same issue as @MichalMaler when trying to use Ruby 3 & Jekyll, but I eventually got it working without any modifications to the project itself.

My versions:
Ruby: `ruby 3.0.2p107 (2021-07-07 revision 0db68f0233) [x86_64-darwin21]`
RubyGems: `3.2.31`

From the project folder:
1. Deleted `Gemfile.lock`
2. Ran `gem update --system`
3. Ran `gem update`
4. Ran `bundle update`
5. Ran

[2021-11-28 13:04] Richardlucas123 opened #118 "Getlogdoc"

[2021-11-30 23:29] #118 closed, assigned to nobody

[2021-12-18 01:20] #115 closed, assigned to nobody

[2022-01-09 05:32] HandanYU opened #121 "can not update in the real time"
Hi, after I update the contents and refresh the site or even refresh it several times, there is no any changes. I am wondering how can I deal with it. I'm waiting for your reply. Thank you in advance.

[2022-01-13 19:11] jglovier commented on #121
@HandanYU hi there! There could be several reasons for what is happening, and it is difficult to know without more context.

Are you referring to a local build, or a production build? (i.e. are you making your changes locally while running `bundle exec jekyl serve`, or are you pushing changes to GitHub Pages and expecting to see them there?)

[2022-01-14 03:51] HandanYU commented on #121
Hi, I try to view the site locally through 'jekyll serve', and successfully
launch the site at the first time. But there is still an issue that, when I
stop this process, I couldn't implement 'jekyll serve' under the original
project's root to launch the site successfully. Could you please give me
some hints or recommendations to deal with this issue?

On Fri, Jan 14, 2022 at 3:11 AM Joel Glovier

[2022-01-18 21:28] jglovier commented on #121
@HandanYU I'm sorry you're running into that issue. Hmm, what does the terminal output look like when `jekyll serve` is not successful as you're describing? Can you paste that output in a response, or a screenshot of it?

Also, have you tried running `bundle exec jekyll serve`?

[2022-04-28 22:44] axelverrier opened #131 "Accents in YAML files ?"
Hi,
First of all thanks for this amazing work.
I'm having a bit of an issue though. I don't seem to be able to have accents or any special character in the .yml files.
Should I replace every accent, colons etc I have by their encoding in html or is there a simpler way to do so ?
I've looked it up online and wasn't able to find any solution... :/

Thank you for your time!

[2022-04-29 00:50] jglovier commented on #131
Hi @axelverrier! Glad you are finding some value from this project! 😄

Hmm, I'm really not familiar enough with YAML to be able to provide a helpful answer. I'll leave this open and if you find the answer, would you post it here for posterity? If I can find some time to do some research as well, I will do the same.

Thanks for bringing it up! :bow:

[2022-05-03 08:25] Anugya12 commented on #93
i want to  work on this issue

[2022-05-03 08:26] Anugya12 commented on #93
i want to work on this issue @julianatfg

[2022-06-22 16:09] ghost opened #133 "How to deploy my site on Netlify?"
The default setting can't work, should I add special build command or something else?

[2022-06-23 09:06] iamrobins opened #134 "Can I've a Docker file for this project?"
I've Ubuntu 22 and it has Ruby 3 and this project supports Ruby 2. I don't have any experience in Ruby so while installing I was having this error, I tried doing some tweaks to Gem file but didn't work.

[code]

This is the Dockerfile I was trying to make.
[code]

[2022-06-24 07:18] jglovier commented on #133
Hi @ZihaoFeng2001! 👋  Thanks for reporting this issue. I'm not sure how to help without a little more info.

When you say it can't work, what do you mean? Can you share a screenshot or a code snippet of the error output you are encountering?

[2022-06-24 07:21] jglovier commented on #134
Hi @iamrobins! 👋 Thanks for opening this issue. A dockerfile sounds like a great idea, but unfortunately I don't really have any experience configuring docker for projects and I won't have any development time for this project in which I could learn Docker and contribute what you asking myself in the foreseeable future.

Would you like to contribute the solution yourself? I'll be happy to review a

[2022-06-24 10:28] iamrobins commented on #134
Yeah definitely, I've created a Dockerfile with Ruby 3.0 because older ruby versions were not working for me. Are you planning to upgrade the project to Ruby 3.0 with a new Gemfile.lock ?

I found the fix to run it on Ruby 3.0 in this issue https://github.com/jglovier/resume-template/issues/112

[2022-06-25 12:03] ghost commented on #133
Thanks for replying to me! I think I have solved this issue. I changed the content in Gemfile and deleted Gemfile.lock, and Netlify and Vercel can deploy the website automatically.

[2022-06-25 12:03] #133 closed, assigned to nobody

[2022-06-29 17:56] iamrobins commented on #134
Hi @jglovier now there is no need to upgrade the project to Ruby 3.0 I have created the Dockerfile which works perfectly with the current state of the project. I've made a PR with 2 lines of instructions in the  README. please take a look when you get time.

[2022-07-02 22:30] jglovier commented on #134
Thanks again, @iamrobins!! Resolved by #135.

[2022-07-02 22:30] #134 closed, assigned to nobody

[2022-07-02 22:31] jglovier commented on #134
![jiggy](https://user-images.githubusercontent.com/1319791/177017858-dc40571a-0393-4013-b76c-36e31e37f68a.gif)

[2022-07-02 23:39] jglovier commented on #133
Great! I'm glad to hear you got it sorted out @ZihaoFeng2001. ✨ 🙌 ✨

Also, if you have any suggestions for how it could be easier let me know. 😊 (or feel free to open a PR if you'd like to contribute!)